* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: rgb(187, 187, 245);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 350px;
  height: 500px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.card-2 {
  width: 350px;
  height: 600px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.card-3 {
  width: 350px;
  height: 500px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
}
.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
  }
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 100, 0.8);
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.card h2, .card-2 h2 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.card-3 h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0px;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}
::placeholder {
  color: #fff;
  font-size: 16px;
}
button {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 25px 0 10px;
  height: 32px;
  font-size: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}

span {
    font-size: 13px;
    margin-left: 10px;
  }
.btn {
  background: dodgerblue;
}
button a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }

.common-btn {
    background: brown;
}
